@model NAPSOMIS_Webpoint.Models.mem_tr

@{
    ViewBag.Title = "Receive Forms";
}
 
<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/view_pim_contacts.png" style="width:60px; height:50px; padding-left:10px;" />

</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br />
    <text style="color:midnightblue; padding-left:10px; font-size:large;"> Receive Form </text>
    <br />
    <text style="font-size:small; padding-left:10px;">Please fill the information below using the member form</text>


    <br />

</div>

@using (Html.BeginForm()){

@Html.AntiForgeryToken() 

@Html.DevExpress().FormLayout(s =>
{
    s.Name = "ReceiveForms";
    s.ColCount = 3;

    s.Items.AddTabbedGroupItem(group =>
    {
        group.ColSpan = 3;

        group.Items.AddGroupItem(sb =>
        {
            sb.Caption = "Receive Form";
            sb.Name = "firsttab";
            sb.ColSpan = 3;
            sb.ColCount = 3;

            if (ViewBag.Message != null)
                {
                sb.Items.Add(b =>
                {
                    b.ShowCaption = DefaultBoolean.False;
                    b.Name = "MessageGroup";

                    b.NestedExtension().Label(lb =>
                    {
                        lb.Name = "lblmessage";
                        lb.Text = ViewBag.Message;
                        lb.ControlStyle.ForeColor = System.Drawing.Color.Red;
                    });

                });

                sb.Items.AddEmptyItem();
                sb.Items.AddEmptyItem();

                }

            sb.Items.Add(b => b.fref_no).NestedExtension().TextBox(t => {
                t.Name = "fref_no";
                t.Properties.HelpText = "Enter the Reference No here";
                t.Properties.HelpTextSettings.EnablePopupAnimation = true;
                t.Properties.HelpTextSettings.Position = HelpTextPosition.Top;
                t.Properties.HelpTextSettings.DisplayMode = HelpTextDisplayMode.Popup;

            });

            sb.Items.AddEmptyItem();
            sb.Items.AddEmptyItem();

            sb.Items.Add(b => b.fsurname);
            sb.Items.Add(b => b.firstname);
            sb.Items.Add(b => b.fothname);
            sb.Items.Add(b => b.fb_date);
            sb.Items.Add(b => b.fjoindate);

            sb.Items.AddEmptyItem();

            sb.Items.Add(i =>
            {
                i.Caption = " ";
                i.NestedExtension().Button(b =>
                {
                    b.Name = "clear";
                    b.Text = "Add New";
                    b.UseSubmitBehavior = false;
                    b.RouteValues = new { Controller = "ReceiveForms", Action = "ReceiveForms", ParamValue = "" };
                    b.Width = Unit.Pixel(100);
                });

            });

            sb.Items.Add(i =>
            {
                i.Caption = " ";
                i.NestedExtension().Button(b =>
                {
                    b.Name = "save";
                    b.Text = "Accept";
                    b.UseSubmitBehavior = true;
                    b.Width = Unit.Pixel(100);
                });
            });




        });


    });


}).GetHtml()

}
