@model NAPSOMIS_Webpoint.ViewModels.CaptureBankLodgementViewModel

@using NAPSOMIS_Webpoint.ViewModels
@using NAPSOMIS_Webpoint.Models

@{
    ViewBag.Title = "Capture Bank Lodgment";
}
<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/kspread-3.png" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <br />
    <text style="color:midnightblue; padding-left:10px; font-size:large;"> Capture Bank Lodgment </text>
    <br />
    <text style="font-size:small; padding-left:10px;">Please fill the form below prior to processing the request</text>
    <br />
    <br />

</div>


@using (Html.BeginForm("CaptureBankLodgment_OK", "AccountPayment", FormMethod.Post))
    {

    @Html.AntiForgeryToken()
    @Html.DevExpress().FormLayout(setting =>
{
    setting.Name = "receivecrlayout";
    setting.ColCount = 2;

    if (ViewBag.Message != null)
        {
        setting.Items.Add(b =>
        {
            b.ShowCaption = DefaultBoolean.False;
            b.Name = "MessageGroup";

            b.NestedExtension().Label(lb =>
            {
                lb.Name = "lblmessage";
                lb.Text = ViewBag.Message;
                lb.ControlStyle.ForeColor = System.Drawing.Color.Red;
            });

        });

        setting.Items.AddEmptyItem();

        }

    setting.Items.AddTabbedGroupItem(tab =>
    {
        tab.Name = "tablayout";
        tab.Caption = "Bank Lodgment";
        tab.ColSpan = 2;

        tab.Items.AddGroupItem(group =>
        {
            group.Name = "CaptureBankLodgmentgroup";
            group.Caption = "Capture Bank Logement";
            group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
            group.ColSpan = 2;
            group.ColCount = 2;


            group.Items.Add(b => b.receiptdate).NestedExtension().DateEdit(c =>
            {
                c.Name = "receiptdate";

            });

            group.Items.Add(bt =>
            {
                bt.Name = "btchloaderno";
                bt.ShowCaption = DefaultBoolean.True;
                bt.Caption = "";

                bt.NestedExtension().Button(b =>
                {
                    b.Name = "cmdCaptureBankLodgmenternodata";
                    b.Width = Unit.Pixel(100);
                    b.Text = "Load";
                    b.RouteValues = new { Controller = "AccountPayment", Action = "CaptureBankLodgment_Search" };
                    b.UseSubmitBehavior = true;

                });

            });

            group.Items.AddGroupItem(group2 =>
            {
                group2.Name = "secondgroup";
                group2.Caption = "Summary";
                group2.GroupBoxDecoration = GroupBoxDecoration.Box;
                group2.ColSpan = 2;
                group2.ColCount = 2;

                group2.Items.Add(b => b.cheque).NestedExtension().TextBox(c =>
                {
                    c.Name = "cheque";
                    c.ReadOnly = true;
                    c.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.LightGray;
                    c.Properties.DisplayFormatString = "N2";
                });

                group2.Items.Add(b => b.journaltransfer).NestedExtension().TextBox(c =>
                {
                    c.Name = "journaltransfer";
                    c.ReadOnly = true;
                    c.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.LightGray;
                    c.Properties.DisplayFormatString = "N2";
                });

                group2.Items.Add(b => b.bankadvice).NestedExtension().TextBox(c =>
                {
                    c.Name = "bankadvice";
                    c.ReadOnly = true;
                    c.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.LightGray;
                    c.Properties.DisplayFormatString = "N2";
                });

                group2.Items.Add(b => b.cash).NestedExtension().TextBox(c =>
                {
                    c.Name = "cash";
                    c.ReadOnly = true;
                    c.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.LightGray;
                    c.Properties.DisplayFormatString = "N2";
                });

                group2.Items.Add(b => b.totalcollected).NestedExtension().TextBox(c =>
                {
                    c.Name = "totalcollected";
                    c.ReadOnly = true;
                    c.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.LightGray;
                    c.Properties.DisplayFormatString = "N2";
                });

            });


            group.Items.AddGroupItem(group2 =>
            {
                group2.Name = "banktotalgroup";
                group2.Caption = "Bank Total";
                group2.GroupBoxDecoration = GroupBoxDecoration.Box;
                group2.ColSpan = 2;
                group2.ColCount = 2;

                group2.Items.Add(b => b.totaltobank).NestedExtension().TextBox(c =>
                {
                    c.Name = "totaltobank";
                    c.ReadOnly = true;
                    c.Properties.ReadOnlyStyle.BackColor = System.Drawing.Color.LightGray;
                    c.Properties.DisplayFormatString = "N2";
                    c.Properties.ReadOnlyStyle.Font.Bold = true;
                    c.Properties.ReadOnlyStyle.Font.Size = 12; 
                });

            });

            group.Items.AddGroupItem(group2 =>
            {

                group2.Name = "buttongroup";
                group2.Caption = "Actions";
                group2.GroupBoxDecoration = GroupBoxDecoration.Box;
                group2.ColSpan = 2;
                group2.ColCount = 2;

                group2.Items.Add(bt =>
                {
                    bt.Name = "btgroup";
                    bt.ShowCaption = DefaultBoolean.False;

                    bt.NestedExtension().Button(b =>
                    {
                        b.Name = "cmdCaptureBankLodgmentreset";
                        b.Width = Unit.Pixel(100);
                        b.Text = "Clear";
                        b.RouteValues = new { Controller = "AccountPayment", Action = "CaptureBankLodgment" };
                        b.UseSubmitBehavior = false;

                    });

                });


                group2.Items.Add(bt =>
                {
                    bt.Name = "btgroup";
                    bt.ShowCaption = DefaultBoolean.True;
                    bt.Caption = "";

                    bt.NestedExtension().Button(b =>
                    {
                        b.Name = "cmdCaptureBankLodgmentcomplete";
                        b.Width = Unit.Pixel(100);
                        b.Text = "Accept";
                        b.RouteValues = new { Controller = "AccountPayment", Action = "CaptureBankLodgment_Accept" };
                        b.UseSubmitBehavior = true;

                        if (Model.totalcollected != null)
                            {
                            b.Enabled = true;
                            }
                        else
                            {
                            b.Enabled = false;
                            }
                    });

                });

            });



        });

    });




}).GetHtml()


    }
