@model NAPSOMIS_Webpoint.ViewModels.CashControlReportViewModel

@using NAPSOMIS_Webpoint.ViewModels
@using NAPSOMIS_Webpoint.Models

@{
    ViewBag.Title = "Cheque Control Report";
}
<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/kspread-3.png" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <br />
    <text style="color:midnightblue; padding-left:10px; font-size:large;"> Cheque Control  Report</text>
    <br />
    <text style="font-size:small; padding-left:10px;">Please enter the cheque receipt date below prior to processing the request</text>
    <br />
    <br />

</div>


@using (Html.BeginForm("ChequeControlReport_OK", "AccountPayment", FormMethod.Post))
    {

    @Html.AntiForgeryToken()
    @Html.DevExpress().FormLayout(setting =>
{
    setting.Name = "receivecrlayout";
    setting.ColCount = 2;

    if (ViewBag.Message != null)
        {
        setting.Items.Add(b =>
        {
            b.ShowCaption = DefaultBoolean.False;
            b.Name = "MessageGroup";

            b.NestedExtension().Label(lb =>
            {
                lb.Name = "lblmessage";
                lb.Text = ViewBag.Message;
                lb.ControlStyle.ForeColor = System.Drawing.Color.Red;
            });

        });

        setting.Items.AddEmptyItem();

        }

    setting.Items.AddTabbedGroupItem(tab =>
    {
        tab.Name = "tablayout";
        tab.Caption = "Bank Lodgment";
        tab.ColSpan = 2;

        tab.Items.AddGroupItem(group =>
        {
            group.Name = "ChequeControlReportgroup";
            group.Caption = "Capture Bank Logement";
            group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
            group.ColSpan = 2;
            group.ColCount = 2;



            group.Items.AddGroupItem(group2 =>
            {
                group2.Name = "secondgroup";
                group2.Caption = "Summary";
                group2.GroupBoxDecoration = GroupBoxDecoration.Box;
                group2.ColSpan = 2;
                group2.ColCount = 2;

                group2.Items.Add(b => b.receiptdate).NestedExtension().DateEdit(c =>
                {
                    c.Name = "receiptdate";

                });

            });

            group.Items.AddGroupItem(group2 =>
            {

                group2.Name = "buttongroup";
                group2.Caption = "Actions";
                group2.GroupBoxDecoration = GroupBoxDecoration.Box;
                group2.ColSpan = 2;
                group2.ColCount = 2;

                group2.Items.Add(bt =>
                {
                    bt.Name = "btgroup";
                    bt.ShowCaption = DefaultBoolean.False;

                    bt.NestedExtension().Button(b =>
                    {
                        b.Name = "cmdChequeControlReportreset";
                        b.Width = Unit.Pixel(100);
                        b.Text = "Clear";
                        b.RouteValues = new { Controller = "AccountPayment", Action = "ChequeControlReport" };
                        b.UseSubmitBehavior = false;

                    });

                });


                group2.Items.Add(bt =>
                {
                    bt.Name = "btgroup";
                    bt.ShowCaption = DefaultBoolean.True;
                    bt.Caption = "";

                    bt.NestedExtension().Button(b =>
                    {
                        b.Name = "cmdChequeControlReportcomplete";
                        b.Width = Unit.Pixel(100);
                        b.Text = "Accept";
                        b.RouteValues = new { Controller = "AccountPayment", Action = "ChequeControlReport_Accept" };
                        b.UseSubmitBehavior = true;


                    });

                });

            });



        });

    });




}).GetHtml()


    }
