@{
    Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";
}
  

<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/generalinfo.png" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br /> 
    <h3>General Information</h3>
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <div class="col-md-10">
        <div class="col-md-12">
             
            <p>The National Social Security and Insurance Trust is a Statutory Public Trust, charged with the responsibility of administering Sierra Leone’s National Pension Scheme. By the National Social Security and Insurance Trust Act. No. 5 of 20th July 2001. The National Social Security and Insurance Trust was established “to provide retirement and other benefits to meet the contingency needs of workers and their dependents and to provide other related matters” The Trust is autonomous and belongs to the state.</p>

            <p>Commencement date: As required by Section 1, Act No. 5 of 2001 came into operation by Presidential Order in Statutory Instrument No.8 of 31st August 2001. The effective date of payment of contributions is January 2002. The Board: The Board has a fifteen-member Tripartite Board of Trustees composed of members drawn from the Government, employers and employees, responsible for policy-making. Administration of the Trust: The day-to-day administration of the Trust is vested in the Director General.</p>

            <p>The Scheme is contributory: It is financed from contributions by employers and employees It is a defined benefits social insurance scheme based on partial funding since contributions cannot pay for benefits in perpetuity Surplus funds not required now for benefits are invested.</p>

            <p>The Scheme is portable; i.e. credits are transferable from one place of work to another, concurrent contributions enhance benefits received at the onset of contingencies Membership is compulsory for all workers. It is mandatory for all employers to ensure that their workers are registered with the scheme. The employer deducts 5% from the employee’s earnings and pays another 10% on behalf of the employee, giving a total contribution of 15%. Self-employed persons may join the Scheme as voluntary contributors, paying the full 15% on their declared income.</p>

            <p>The cost of the benefits enjoyed by contributors exceeds their contributions of 15%. This is because the Scheme is partially funded The scheme is index-linked; persons are regularly reviewed and adjusted in line with National Salary increases as may be experienced by the Fund REGULATORY FRAMEWORK First and current Law: 2001 (National Social Security and Insurance Trust), implemented in 2002 Type of programme: Social Insurance system Coverage: All employees in the public and private sectors. The self-employed can be covered on a voluntary basis Source of Funds: Insured person – 5% of earnings; Employer – 10% of payroll, The Self-employed contribute 15%; and Government – None Membership: Membership is mandatory for all workers with an employer-employee relationship.</p>
 
        </div>

        <br />
 
    </div>
</div>
