@{
    Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";
}
 
<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/historyicon.png" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br />
    <h3>Historical Overview</h3>
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <div class="col-md-10">
        <div class="col-md-12">

           <p>After the declaration of the end of the decade-long civil war (1991-2002), the President, Alhaji Dr. Ahmad Tejan Kabbah, expressed his desire to establish a social security scheme as part of the process of rehabilitation, reconstruction and resettlement geared towards sustainable peace, good governance, socio-economic development and political advancement.</p>

            <p>In other to achieve his dream, the President included Social Security within the mandate of the Ministry of Labour and Industrial Relations, in 1999, with the responsibility of establishing the Scheme for all categories of workers, and the Social Safety Net for the aged and needy throughout Sierra Leone. The Minister of Labour, Social Security and Industrial Relations, Hon. Alpha O. Timbo, set up the Tripartite Interim Establishment Committee, comprising technocrats in the Trades Unions, Employers, Business Houses, Insurance companies and the Line Ministries.</p>

            <p>This Committee was charged, among other things, with the task of considering and advising the Ministry on the form and scope of the Scheme. That is to say, the Committee should evaluate and advise on the suitability or otherwise of the existing legislation, including the Draft National Social Security and Insurance Trust Act. After a period of one year, the Committee produced and presented to the Ministry a report entitled, The Preliminary Report on the Social Security Scheme. Following the Committee’s recommendations, ILO conventions 138, 151 and 182 were approved by Cabinet and ratified by Parliament.</p>

            <p>The Ministry, in collaboration with the UNDP/ILO, enlisted the services of ILO-sponsored consultants, Messrs Renison Kahakakehi and Eric N.A. Adjei, to conduct financial studies and actuarial analysis of the proposed Scheme in order to determine suitable options and various scenarios, which included methods of financing, rates of contributions and benefit structures and qualifying conditions.</p>

            <p>Essentially, the Committee’s report, and the recommendations of the Consultants formed the basis for the introduction of the first National Social Insurance Pension Scheme which aims to provide individuals and families with income security or support when their ability to gain income form work is terminated, interrupted or reduced.</p>

            <p>The legislation establishing the Scheme, the National Social Security and Insurance Trust Act was enacted into law and received the Presidential Assent on 20th July 2001, and became operational on 31st August 2001. The effective date for payment of contributions was 1st January 2002. The National Social Security and Insurance Trust Scheme was officially launched by His Excellency the President, Alhaji Dr. Ahmad Tejan Kabbah at the Lagoonda Entertainment Complex, Aberdeen.</p>

        </div>

        <br />

    </div>
</div>
