@{
    Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";
}


<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/invalidity1.png" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br />
    <h3>Invalidity</h3>
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <div class="col-md-10">
        <div class="col-md-12">

            <h4>What is Invalidity?</h4>

            <p>This is when a determinable physical or mental impairment prevents a member or contributor from engaging in any meaningful gainful employment. The member must have an extreme impairment which makes him permanently unable to do the work he did previously or to engage in any other gainful employment.</p>


            <h4>How can a member be entitled to an invalidity pension?</h4>

            <p>For a member to qualify for an invalidity pension, the following conditions must be met:-</p>

            <ul>

                <li>You must have contributed for a minimum period of 60 months of which twelve(12) months’ contribution must have been paid during the last thirty-six months preceding the commencement of invalidity;</li>
                <li>You must have been declared permanently ant totally incapable of further employment by a qualified and recognized medical officer and certified by the medical board.</li>

            </ul>


            <h4>How is invalidity pension calculated?</h4>
            <p>After the medical Board has certified member invalidity, the invalidity pension will be calculated as follows:-</p>

            <ol>

                <li>Number of months of contributions or credit earned;</li>
                <li>Difference between the year of invalidity and National retirement age (60 years). The difference is divided by 2(two).</li>
                <li>Pensions are then calculated based on the number of years derived from (b) above</li>

            </ol>


            <h4>When does an invalidity pension cease?</h4>
            <p>After the medical Board has certified member invalidity, the invalidity pension will be calculated as follows:-</p>

            <ol>

                <li>The medical Board determines that the member is no longer invalid;</li>
                <li>If the Invalid member commences work other than work which is determined by the medical Board as beneficial for rehabilitation purposes;</li>
                <li>When the invalid member reaches age 60, at which point it is converted into an old age pension</li>

                <p>If a member does not meet the minimum contribution requirement of sixty (60) months before becoming invalid, a lump sum, which is 1.5 times the average monthly earnings times the number of years contributed, is paid as Invalidity grant to that member.</p>
            </ol>


            <h4>The medical board</h4>
            <p>The medical Board consists of three persons not employed, but appointed by the board of trustees. Two of these three persons are medical practitioners of proven ability, one of whom should be the chairman.The third is a person that belongs to another profession recognized by the laws of Sierra Leone. The principal responsibility of the medical Board is to determine whether a member is permanently or totally incapable of further employment which enables him to be awarded either an invalidity pension or invalidity grant. The Board also determines whether who has receiving invalidity pension or grant or is no longer an invalid.</p>

        </div>

        <br />

    </div>
</div>
