@{
    Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";
}


<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/investment.jpg" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br />
    <h3>Investments</h3>
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <div class="col-md-10">
        <div class="col-md-12">

            <h4>Investment Performance Report</h4>

            <p><a href="~/Content/Files/Report2011.pdf" target="_blank"> Annual Progress Report-2011 </a></p>

            <p><a href="~/Content/Files/Report2010.pdf" target="_blank">Annual Progress Report-2010 </a></p>

            <p><a href="~/Content/Files/report2009.pdf" target="_blank">Annual Progress Report-2009 </a></p>
             
            <p><a href="~/Content/Files/report2008.pdf" target="_blank">Annual Progress Report-2008 </a></p>

            <p><a href="~/Content/Files/Report2007.pdf" target="_blank">Annual Progress Report-2007 </a></p>
 

            <br />


            <h4>Investment Strategic Programme</h4>
 
            <p><a href="~/Content/Files/ProposalsGuide.pdf" target="_blank">Proposals Guide </a></p>

            <p><a href="~/Content/Files/StrategyProgram.pdf" target="_blank">Investment Strategy Program-2011-2013 </a></p>

            <p><a href="~/Content/Files/EquityParticipation.pdf" target="_blank">Equity Participation </a></p>

            <p><a href="~/Content/Files/investmentpolicy.pdf" target="_blank">Investment-Policy-2012 </a></p>
             

        </div>

        <br />

    </div>
</div>
