@{
    Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";
}


<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/oldage.jpg" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br />
    <h3>Old Age</h3>
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <div class="col-md-10">
        <div class="col-md-12">

            <h4>Old Age Pension</h4>

            <ol>

                <li>You must be at least 60 years old (which is the National Retirement Age);</li>
                <li>You must have made a minimumcontribution of 180 months in aggregate</li>
                <li>A minimum contribution or credit of 180 months gives a pension right of 30%, and every additionalyear attracts and additional 2% per month</li>

            </ol>


            <h4>How is the Full age pension calculated</h4>

            <ol>

                <li>
                    Take the average of your best five (5) years: For example:add your best five years earnings and divide the total by five
                    A+B+C+D+E/5 = X.
                </li>
                <p>X = average of the best five years earnings</p>
                <li>Divide the average you got in step 1 by 12 to get a minimum rate</li>
                <li>If the qualifying condition of 180 months (15) years was met monthly pension payments start at 30 percent of the monthly rate in step 2</li>
                <li>For any additional year worked, we add 2 percent of the monthly pension amount derived in step 3</li>
            </ol>


            <h4>How is the old age gratuity calculated</h4>
            <p>A lump sum equal to twelve months of initial pension derived above is payable as gratuity on the 60th birthday of the member.</p>


            <h4>Reduced or Early Retirement Pension</h4>

            <p>This is paid to a contributor who retires before the National retirement Age. However the following conditions must be met before any payment is made:-</p>

            <ul>

                <li>The member must be 55 yeras and above but below 60 years;</li>
                <li>He must have made a minimum contribution or earn credit of 180 months</li>
               
            </ul>


            <h4>Retirement Grant</h4>

            <p>This paid to a member who has reached the retirement age but has not made the minimum contribution of 180 months.Those who annot make the minimum contributory period have an option.</p>

            <ul>

                <li>To make up for the short in the number of years, credit can be pruchase based on the number of years needed to make the minimum qualifying period. However, if the member does not wish to purchase credit, then he will be entitled to a lump sum payment.</li>
              
            </ul>

        </div>

        <br />

    </div>
</div>
