@{
    Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";
}


<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/strageticplan.jpg" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br />
    <h3>Strategic Plan</h3>
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <div class="col-md-10">
        <div class="col-md-12">

            <h4>The Strategic Plan for the financial years.</h4>
            <p>
                The National Social Security and Insurance Trust Strategic Plan for the financial years is the Trust blueprint that provides a detailed description of how the Trust intends to meeting its commitment for improving performance and delivering our vision for every three years. It sets out our priorities over the next three years and how we will contribute in diverse ways to making the Trust vision a reality. It is a three-year rolling plan and is updated annually. In the years ahead, NASSIT faces several challenges and the Trust strategic goals are described in the Strategic plan directly to address the challenges.
            </p>

            <p>The strategic goals and objectives as well as the key performance indicators and targets have all been agreed following widespread consultation with the staff at each level within the organization as well as the Trustees. They are reviewed regularly to make sure they continue to meet the needs and expectations of the Trust esteemed members. However, the indicators to gauge progress towards the Trust objectives in the annual.</p>

            <br />

            <p><a href="~/Content/Files/Strategicplan.pdf" target="_blank">Get Full Copy of the Strategic Plan: 2009- 2011</a></p>

        </div>

        <br />

    </div>
</div>
