@{
    Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";
}


<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/survirors.png" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br />
    <h3>Survivors</h3>
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <div class="col-md-10">
        <div class="col-md-12">

            <h4>A survivor or dependant is:-</h4>

            <ul>
                <li>A spouse;</li>
                <li>A dependent child under 18 years, if not formal education;</li>
                <li>A dependent child under 23 years, if in formal education;</li>
                <li>More importantly, a dependant’s name must have been listed as such on the registration (SS1A) form or Data Update (SS1C) form.</li>

            </ul>


            <h5>What are the qualifying conditions?</h5>
            <p>The deceased must have been in receipt of, or entitled to, an old age or invalidity pension, or</p>

            <ul>

                <li>The deceased must have contributed for a minimum period of sixty (60) months, Twelve(12) of which of which must be within the last thirty-six(36) months preceding death.</li>

            </ul>


            <h4>How much does a survivor receive as pension?</h4>
            <p>A survivor shall receive pension for a period of time as stated below:</p>

            <ul>
                <li>A spouse or spouses shall receive 40% of the deceased’s pension (distributed equally) until death or until new co-habitation or re-marriage;</li>
                <li>The child/ children shall receive 60% of the deceased’s pension until:</li>
                <p>18 years, if not in formal education, or</p>
                <p>23 years, if in formal education</p>
                <li>An invalid dependent child shall receive the pension until death, or according to the Act governing the scheme, he is no longer invalid.</li>

            </ul>


            <h4>Survivor’s Grant</h4>
            <p>This is a lump sum paid to survivors when the deceased member did not meet the qualifying conditions for the payment of a pension.</p>

            <h5>What happens if the deceased member has no dependant?</h5>

            <p>In the event where a deceased member does not have any spouse or dependent child,</p>

            <ol>
                <li>A lump sum equivalent to twelve months’ pension will be paid to any surviving parent who is either on pension or in employment; or</li>
                <li>A lump sum equivalent to twenty-four months’ pension will be paid where the surviving parent is not on pension or in employment.</li>
            </ol>

            <h4>How do you apply for a survivors’ pension?</h4>

            <p>An application for survivors’ pension is made on the SS 5B Form. The applicant should produce the death certificate of the deceased member; or in the absence of a death certificate, a letter from the local council confirming death of the member.</p>
        
        
            <h4>How is the pension paid?</h4>
            <p>With the consent of the beneficiaries, the pension will be paid (in cash or cheque) either directly to the beneficiary or to a bank account. In all cases, survivors’ pension is paid only to the person(s) entitled to it, except that:</p>

            <ol>
                <li>A pension on behalf of an under-age child may be paid to a parent or guardian caring for the child and with whom the child is staying, or</li>
                <li>A person may be appointed through the ministry of social welfare, Gender and Children’s Affairs, on behalf of a child without a parent or guardian, or wherein such parent or guardian is not the pension for the child’s welfare.</li>
            </ol>
        </div>

        <br />

    </div>
</div>
