@{
    Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";
}


<div class="col-md-1" style="background-color:white; font-size:small;">
    <br />
    <img src="~/Content/Images/theact1.jpg" style="width:70px; height:60px; padding-left:10px;" />
    <br />
</div>

<div class="col-md-11" style="background-color:white; font-size:small;">
    <br />
    <h3>The Act</h3>
    <br />
</div>

<div class="col-md-10" style="background-color:white; font-size:small;">
    <div class="col-md-10">
        <div class="col-md-12">

            <h4>The NASSIT Act No.5 of 2001</h4>

           <p>The National Social Security and Insurance Trust is a Statutory Public Trust set up by the National Social Security and Insurance Trust Act. No. 5 of 2001 to administer the Sierra Leone’s National Pension’s Scheme. The Trust was established to provide retirement and other benefits to meet the contingency needs for workers and their dependants. The core functions of the Trust are:</p>
 
            <ul>

                <li>Registration of employers and employees</li>
                <li>Collection and recording of contributions</li>
                <li>The maintenance of records on contributions and insured earnings</li>
                <li>Compliance and enforcement procedures</li>
                <li>The reception and assessment of benefits claims and;</li>
                <li>The calculation and payment of benefits</li>

            </ul>
 
            <br />

            <p><a href="~/Content/Files/act2001.pdf" target="_blank">Get Full Copy NASSIT Act No.5 of 2001</a></p>

        </div>

        <br />

    </div>
</div>
