@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="accountHeader">
    <p><H3 style="color:darkblue;">@ViewBag.Title</H3></p>
</div>
<p>Please check your email to reset your password.</p>