@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

@{
    ViewBag.Title = "Confirm Email";
}
<div class="accountHeader">
    <p><H3 style="color:darkblue;">@ViewBag.Title</H3></p>
</div>
<p>
    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account")
</p>