@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="accountHeader">
    <p><H3 style="color:darkblue;">@ViewBag.Title</H3></p>
</div>
<p>
    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account")
</p>